In [1]:
import pandas as pd


df = pd.read_csv("compensation data.csv")


print(df.head())


headers = df.columns.tolist()
print(headers)

# Function to convert values to float
def convert_to_float(value):
    try:
        return float(value)
    except ValueError:
        return None

df.iloc[:, 0] = df.iloc[:, 0].apply(convert_to_float)  

def convert_to_boolean(value):
    return value == "TRUE"

df.iloc[:, 1] = df.iloc[:, 1].apply(convert_to_boolean)  # Convert to boolean
df.iloc[:, 2] = df.iloc[:, 2].apply(convert_to_boolean)  # Convert to boolean

# Function to ensure values are strings
def convert_to_string(value):
    return str(value)

df.iloc[:, 3] = df.iloc[:, 3].apply(convert_to_string)
df.iloc[:, 4] = df.iloc[:, 4].apply(convert_to_string)
df.iloc[:, 5] = df.iloc[:, 5].apply(convert_to_string)


df.to_csv("updated_compensation_data.csv", index=False)


print(df.head())

   experience_coding  python_user  r_user  sql_user     most_used  \
0                6.1         True   False      True  Scikit-learn
1               12.3         True    True      True  Scikit-learn
2                2.2         True   False     False           NaN
3                2.7        False   False      True           NaN
4                1.2         True   False     False  Scikit-learn

   compensation
0        124267
1        236889
2         74321
3         62593
4         36288
['experience_coding', 'python_user', 'r_user', 'sql_user', 'most_used', 'compensation']
   experience_coding  python_user  r_user sql_user     most_used compensation
0                6.1        False   False     True  Scikit-learn       124267
1               12.3        False   False     True  Scikit-learn       236889
2                2.2        False   False    False           nan        74321
3                2.7        False   False     True           nan        62593
4                1.2        False   False    False  Scikit-learn        36288

C:\Users\PMLS\AppData\Local\Temp\ipykernel_17152\3494428437.py:32: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0         True
1         True
2        False
3         True
4        False
         ...
25968     True
25969    False
25970    False
25971     True
25972    False
Name: sql_user, Length: 25973, dtype: object' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.iloc[:, 3] = df.iloc[:, 3].apply(convert_to_string)
C:\Users\PMLS\AppData\Local\Temp\ipykernel_17152\3494428437.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        124267
1        236889
2         74321
3         62593
4         36288
          ...
25968     15800
25969     62456
25970       923
25971     60609
25972       493
Name: compensation, Length: 25973, dtype: object' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.iloc[:, 5] = df.iloc[:, 5].apply(convert_to_string)

In [2]:
df.to_csv("updated_compensation_data.txt", index=False)


print(df.head())

   experience_coding  python_user  r_user sql_user     most_used compensation
0                6.1        False   False     True  Scikit-learn       124267
1               12.3        False   False     True  Scikit-learn       236889
2                2.2        False   False    False           nan        74321
3                2.7        False   False     True           nan        62593
4                1.2        False   False    False  Scikit-learn        36288